---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import 'normalize';
@import 'clearfix';

@import 'colors/colors';
@import 'fonts';


// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $black;
$background-color: $white;
$brand-color:      darken($red, 25%); //#4c004c;
$navbar-bgcolor:   $background-color;

$footer-height: 45px;

$large-breakpoint: 64em;
$medium-breakpoint: 42em;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@import 'base';
@import 'layout';
@import 'folded-corner';
@import 'navbar';
@import 'footer';
