.heading {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  display: block;
  color: #333;
  text-decoration: none;
  float: left;
  position: relative;
  letter-spacing: -1;
  line-height: 56px;
}