.heading, .heading:hover {
  font-family: $headingFont, sans-serif;
  font-size: $headingFontSize;
  display: block;
  color: $headingFontColor;
  float: left;
  position: relative;
  text-decoration: none;
  letter-spacing: -1;
  line-height: $headingLineHeight;
}
