.heading {
  font-family: $headingFont, sans-serif;
  font-size: $headingFontSize;
  display: block;
  color: $headingFontColor;
  &:hover {
    text-decoration: underline;  
  }
  float: left;
  position: relative;
  letter-spacing: -1;
  line-height: $headingLineHeight;
}
