<header class="navbar folded-corner">
  <div class="logo inline"><img src="{{site.baseurl}}/assets/mcf_logo_inline.svg"></img></div>
  <div class="logo stacked"><img src="{{site.baseurl}}/assets/mcf_logo_stacked.svg"></img></div>
  {% for node in site.pages %}
    {% if node.group == 'nav' %}
      {% if page.url == node.url %}
        <div class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></div>
      {% else %}
        <div><a href="{{node.url}}">{{node.title}}</a></div>
      {% endif %}
    {% endif %}
  {% endfor %}
</header>
