@font-face {
  font-family: 'Origami';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Origami.woff');
}

@font-face {
  font-family: 'Origram';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Origram.woff');
}
