@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(/fonts/opensans-condensed.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/oswald.woff) format('woff');
}
@font-face {
  font-family: 'Origami';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Origami.woff');
}

@font-face {
  font-family: 'Origram';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Origram.woff');
}
