/* Navbar - The Library
A library for Navbars that's *sane*, *flat*, and *customizable*. Yay!
BSD 3-clause licensed. Copyright 2015 Liam Marshall.
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

$navbar-vpadding: 1px;

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  @include medium {
    justify-content: space-around;
  }

  @include small {
    flex-direction: column;
  }

  width: 100%;
  background: $navbar-bgcolor;
  padding: ($navbar-vpadding + 5px) 0px $navbar-vpadding 0px;

  // special styling for this site
  border-top: 5px solid $brand-color;
  border-bottom: 1px solid $gray;
  border-right: 5px solid $brand-color;

  > * {
    margin: 0 20px;
    font-family: 'Origram', sans-serif;
    font-size: 30px;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }

  a.active {
    border-bottom: 4.5px solid $brand-color;
  }

  .logo {
    width: 33.33%;
    padding-bottom: 3px; // HACK to center things
    &.inline {
      min-width: 7em;
      max-width: 15em;
      display: inline;
      @include small {
        display: none;
      }
    }
    &.stacked {
      width: 40%;
      min-width: 6em;
      display: none;
      @include small {
        display: inline;
      }
    }
  }

  img:not(.png) {
    width: 100%;
  }
}


.no-flexbox {
  .navbar {
    display: table;
    border-spacing: 15px;
    padding: 0;
    > * {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
}
