/* Navbar - The Library
A library for Navbars that's *sane*, *flat*, and *customizable*. Yay!
BSD 3-clause licensed. Copyright 2015 Liam Marshall.
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

$navbar-vpadding: 1px;

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $navbar-bgcolor;
  padding: ($navbar-vpadding + 5px) 0px $navbar-vpadding 0px;

  // special styling for this site
  border-top: 5px solid $brand-color;
  border-bottom: 1px solid $gray;

  > * {
    margin: 0 20px;
    font-family: 'Origram', sans-serif;
    font-size: 30px;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }
}

@media (max-width: 650px) {
  .navbar {
    flex-wrap: wrap;
  }
}

// special styling for this site
.name-callout {
  font: 56px "Origami", $base-font-family
}
