// Title text
$headingFontSize: 56px;
$headingFontColor: black;
$headingLineHeight: 56px;
$headingFont: "Origami";

// header > nav[role="navigation"] a ::: colors
$headerLinkColor: black;

$menuLinkLineHeight: 56px;
$menuLinkFontSize: 20px;
$menuLinkFont: 'Open Sans';